<h1>Права покупателя</h1>
<div><h4>1. Информация о товаре</h4><p>Полная информация о книгах.</p></div>
<div><h4>2. Обмен и возврат</h4><p>14 дней на возврат.</p></div>
<div><h4>3. Дефекты</h4><p>Замена или возврат денег.</p></div>
<div><h4>4. Возврат денег</h4><p>10 рабочих дней.</p></div>
<div><h4>5. Персональные данные</h4><p>Только для оформления заказов.</p></div>